@font-face {
    font-family: __abcRoomFont_38b1ae;
    src: url(../media/b8e1ebd9eacea57f-s.woff) format("woff");
    font-display: swap;
    font-weight: 300
}

@font-face {
    font-family: __abcRoomFont_38b1ae;
    src: url(../media/7de162a2d8e5b515-s.woff) format("woff");
    font-display: swap;
    font-weight: 400
}

@font-face {
    font-family: __abcRoomFont_38b1ae;
    src: url(../media/8479164baf2058f3-s.woff) format("woff");
    font-display: swap;
    font-weight: 500
}

@font-face {
    font-family: __abcRoomFont_38b1ae;
    src: url(../media/67cf96b09cf013ed-s.woff) format("woff");
    font-display: swap;
    font-weight: 800
}
@font-face {
    font-display: swap;
    font-family: TT Interphases Pro;
    font-style: normal;
    font-weight: 500;
    src: url(../media/TT_Interphases_Pro_Medium.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: TT Interphases Pro;
    font-style: normal;
    font-weight: 600;
    src: url(../media/TT_Interphases_Pro_DemiBold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: TT Interphases Pro Mono;
    font-style: normal;
    font-weight: 400;
    src: url(../media/TT_Interphases_Pro_Mono_Regular.woff2) format("woff2")
}

@font-face {
    font-family: __abcRoomFont_Fallback_38b1ae;
    src: local("Arial");
    ascent-override: 93.82%;
    descent-override: 23.33%;
    line-gap-override: 0.00%;
    size-adjust: 101.07%
}

.__className_38b1ae {
    font-family: __abcRoomFont_38b1ae, __abcRoomFont_Fallback_38b1ae
}

.__variable_38b1ae {
    --abcRoomFont: "__abcRoomFont_38b1ae", "__abcRoomFont_Fallback_38b1ae"
}

@font-face {
    font-family: __abcRoomExtendedFont_412c3c;
    src: url(../media/50706da9550df9e5-s.woff) format("woff");
    font-display: swap;
    font-weight: 400
}

@font-face {
    font-family: __abcRoomExtendedFont_Fallback_412c3c;
    src: local("Arial");
    ascent-override: 71.93%;
    descent-override: 17.91%;
    line-gap-override: 0.00%;
    size-adjust: 133.32%
}

.__className_412c3c {
    font-family: __abcRoomExtendedFont_412c3c, __abcRoomExtendedFont_Fallback_412c3c;
    font-weight: 400
}

.__variable_412c3c {
    --abcRoomExtendedFont: "__abcRoomExtendedFont_412c3c", "__abcRoomExtendedFont_Fallback_412c3c"
}

/* @font-face {
    font-family: __abcArizonaFlareFont_498f8e;
    src: url(../media/3fdf84c9117473e8-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: __abcArizonaFlareFont_498f8e;
    src: url(../media/f266e704a846645b-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: __abcArizonaFlareFont_498f8e;
    src: url(../media/d1a880a377472427-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: __abcArizonaFlareFont_498f8e;
    src: url(../media/caab3d42782e8e69-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: __abcArizonaFlareFont_Fallback_498f8e;
    src: local("Arial");
    ascent-override: 95.15%;
    descent-override: 23.72%;
    line-gap-override: 0.00%;
    size-adjust: 98.17%
} */

.__className_498f8e {
    font-family: "TT Interphases Pro",
}

.__variable_498f8e {
    --abcArizonaFlareFont: "TT Interphases Pro"
}

.header_header-wrapper__3S3ls {
    z-index: var(--z-index-4);
    isolation: isolate;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto !important
}

@media (min-width:1024px) {
    .header_header-wrapper__3S3ls {
        height: 100% !important;
        width: auto
    }
}

.header_header__w2BOs {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1
}

@media (min-width:1024px) {
    .header_header__w2BOs {
        align-items: center;
        width: var(--header-width);
        height: 100%;
        flex-direction: column;
        padding-top: var(--spacing-vw-6);
        padding-bottom: var(--spacing-vw-6);
        padding-left: 0;
        padding-right: 0
    }
}

.header_scroll-indicator__m98CM {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 22px 0
}

.header_scroll-indicator__m98CM .header_scroll-indicator-line__jaFTV {
    display: flex;
    padding: 3px 0
}

.header_scroll-indicator__m98CM .header_scroll-indicator-line__jaFTV span {
    opacity: var(--opacity, .3);
    width: 18px;
    height: 2px;
    background: currentcolor;
    transform: scaleX(calc((1 + var(--line-progress, 0) * .5) * (var(--scale-factor, 1))));
    transition: transform .25s, opacity .25s
}

.header_logo__9b1Md,
.header_menu-icon__qpdmJ {
    position: relative;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    width: var(--header-height);
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

@media (min-width:1024px) {

    .header_logo__9b1Md,
    .header_menu-icon__qpdmJ {
        height: auto;
        width: 32px;
        padding: 0;
        border-radius: 0;
        --tw-backdrop-blur: blur(0);
        -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
        backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
    }
}

.header_menu-icon__qpdmJ {
    justify-content: end !important;
    width: auto
}

@media(hover:hover)and (pointer:fine) {
    .header_logo__9b1Md>* {
        --base-transition-delay: 0ms;
        transition-delay: 50ms;
        transition-property: color;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 0, .2, 1)
    }

    .header_logo__9b1Md:hover>* {
        transition-duration: .3s
    }

    .header_logo__9b1Md:hover>:first-child {
        color: #fc6901;
        transition-delay: calc(var(--base-transition-delay) + .12s)
    }

    .header_logo__9b1Md:hover>:nth-child(2) {
        color: #ff9d01;
        transition-delay: calc(var(--base-transition-delay) + 60ms)
    }

    .header_logo__9b1Md:hover>:nth-child(3) {
        color: #ffc70e;
        transition-delay: var(--base-transition-delay)
    }
}

.header_header-menu-color-transition__1qECW {
    transition-property: background-color, color;
    transition-duration: .3s, .35s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1), cubic-bezier(0, 0, .2, 1)
}

.link_link__db9uP {
    position: relative
}

.link_link__db9uP:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .055em;
    bottom: calc(-1*var(--height));
    left: 0;
    background-color: currentcolor;
    transform-origin: bottom right;
    transition: transform .2s ease-out
}

.link_link__db9uP:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

.hero_video-button__0tW5t {
    --hover-shadow-color: #f99d0490;
    box-shadow: 0 0 0 0 var(--hover-shadow-color);
    transition: box-shadow .3s ease-out
}

.hero_video-button__0tW5t:hover {
    box-shadow: 0 0 24px 0 var(--hover-shadow-color)
}

.modern-devices_container__nWyUA {
    --swipe-out-factor: 100%;
    -webkit-mask-image: linear-gradient(to right, #000 var(--swipe-out-factor), #fff0 calc(var(--swipe-out-factor) + 10%));
    mask-image: linear-gradient(to right, #000 var(--swipe-out-factor), #fff0 calc(var(--swipe-out-factor) + 10%))
}

.founders_title-word__ytHbL {
    transition: font-size .25s, top .25s, left .225s, right .225s, transform .225s
}

.founders_title-collapsed__Hs74l {
    transition: font-size .1s, top .25s, left .2s, right .2s, transform .2s
}

.footer_label__xGqF7 {
    margin-bottom: 1em;
    display: inline-block !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: 1 !important;
    letter-spacing: -.05em !important;
    color: #ffffffb3 !important
}

@media (min-width:1536px) {
    .footer_label__xGqF7 {
        font-size: max(var(--text-scale-min-rem), var(--text-scale-current-rem)) !important;
        --text-scale-min: 0.9375 !important;
        --text-scale-max: 0.9375 !important;
        --text-scale-min-rem: calc(var(--text-scale-min) * 1rem) !important;
        --text-scale-max-rem: calc(var(--text-scale-max) * 1rem) !important;
        --text-scale-current-rem: calc(var(--text-scale-percentage) * (var(--text-scale-max) - var(--text-scale-min)) + var(--text-scale-min-rem)) !important
    }
}

.footer_input-wrapper___ZsXk {
    --border-radius: 1.25rem;
    --padding: 0.166em;
    border: 1px solid #fff;
    border-radius: var(--border-radius);
    padding: var(--padding);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 0 .6em;
    max-height: -webkit-max-content;
    max-height: max-content;
    min-height: 0
}

.footer_input__lxfF0 {
    background: #0000;
    box-sizing: initial;
    height: auto;
    white-space: nowrap;
    font-size: max(16px, .66em);
    flex: 1;
    padding-left: 1.5em;
    min-width: 0;
    overflow: hidden
}

.footer_input__lxfF0::placeholder {
    opacity: .8;
    color: #faf4f2;
    font-weight: 500;
    transform: translateY(.08em)
}

.footer_button__ij8sG {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    background: #faf4f2 !important;
    padding: 0 1.66em;
    text-transform: uppercase;
    font-size: .66em;
    color: #18190f;
    font-weight: 500;
    border-radius: .9rem;
    height: 2.5em
}

.footer_button__ij8sG:disabled {
    cursor: not-allowed
}

.footer_button__ij8sG span {
    transform: translateY(.08em)
}

.product-label_label__ZPJis {
    transition: box-shadow .2s ease-out, opacity .3s ease-out
}

.product-label_filled__yKfHZ {
    --hover-shadow-color: #f99d0490;
    box-shadow: 0 0 0 0 var(--hover-shadow-color)
}

.product-label_filled__yKfHZ:hover {
    box-shadow: 0 0 1em 0 var(--hover-shadow-color)
}

.marquee_marquee-wrapper__icj52 {
    -webkit-mask: linear-gradient(90deg, #0000, #000 30%, #000 70%, #0000);
    mask: linear-gradient(90deg, #0000, #000 30%, #000 70%, #0000)
}

.marquee_marquee__UwD2j {
    display: flex;
    will-change: transform;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}