@font-face {
    font-family: __humaneFont_991337;
    src: url(../media/8ee1fd7c290b6cfc-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: __humaneFont_Fallback_991337;
    src: local("Arial");
    ascent-override: 92.86%;
    descent-override: 24.14%;
    line-gap-override: 0.00%;
    size-adjust: 107.69%
}

.__className_991337 {
    font-family: __humaneFont_991337, __humaneFont_Fallback_991337
}

.__variable_991337 {
    --font-humane: "__humaneFont_991337", "__humaneFont_Fallback_991337"
}

#main-content>main>div.h-hYVIrb.h-jTWvec.h-cYdhWw.h-MtbgB.h-hcVrgi.h-cOOzMC.h-jHGcwt.h-jZViFo.h-pkweP.h-hQfOUs.h-pkwpJ.h-csvuVW.h-gnlqYH>div.h-fPSBzf.h-bYPztT.h-pKjuE.h-iRgpoQ.h-jTWvec.h-bYPzoC.h-bYPzdx.h-unbqo.h-dRxrNO>svg {
    display: none !important;
}

#main-content>main>div.h-hYVIrb.h-jTWvec.h-cYdhWw.h-MtbgB.h-hcVrgi.h-cOOzMC.h-jHGcwt.h-jZViFo.h-pkweP.h-hQfOUs.h-pkwpJ.h-csvuVW.h-gnlqYH>div.h-fPSBzf.h-bYPztT.h-pKjuE.h-iRgpoQ.h-jTWvec.h-bYPzoC.h-bYPzdx.h-unbqo.h-dRxrNO>h1 {
    max-width: 60vw !important;
}

#main-content>main>div.h-hYVIrb.h-jTWvec.h-cYdhWw.h-MtbgB.h-hcVrgi.h-cOOzMC.h-jHGcwt.h-jZViFo.h-pkweP.h-hQfOUs.h-pkwpJ.h-csvuVW.h-gnlqYH>div.h-fPSBzf.h-bYPztT.h-pKjuE.h-iRgpoQ.h-jTWvec.h-bYPzoC.h-bYPzdx.h-unbqo.h-dRxrNO>a {
    display: none !important;
}

/* #main-content>main {
    height: 100vh !important;
} */

#main-content>main>div.h-hYVIrb.h-jTWvec.h-cYdhWw.h-MtbgB.h-hcVrgi.h-cOOzMC.h-jHGcwt.h-jZViFo.h-pkweP.h-hQfOUs.h-pkwpJ.h-csvuVW.h-gnlqYH>div.h-fPSBzf.h-bYPztT.h-hpErmZ.h-iRgpoQ.h-jTWvec.h-gDnZmn.h-bYPzoC.h-unbqo.h-dMMuNs.h-fPWkKZ.h-lkaaEy.h-coifUy.h-dRxrNO {
    display: none !important;
}