@charset "UTF-8";

[data-v-d0a420ef]:root {
    --color-black: #191919;
    --color-burnedOrange: #ff6b00;
    --color-darkGrey: #646464;
    --color-green: #49d571;
    --color-lightGrey: #e6e6e6;
    --color-midGrey: #a0a0a0;
    --color-offBlack: #282828;
    --color-orange: #ff7714;
    --color-offWhite: #fdfdfd;
    --color-paperGrey: #f2f2f2;
    --color-white: #fff;
    --ease-cubicOut: cubic-bezier(.215, .61, .355, 1);
    --font-base: "TT Interphases Pro";
    --font-mono: "TT Interphases Pro Mono";
    --borderRadius: .4rem;
    --grid-outerGutter: 2.6595744681vw;
    --grid-columnCount: 1
}

@media only screen and (min-width:834px) {
    [data-v-d0a420ef]:root {
        --grid-outerGutter: 2.0833333333vw;
        --grid-columnCount: 16
    }
}

.head[data-v-d0a420ef] {
    -moz-column-gap: 2.6595744681vw;
    column-gap: 2.6595744681vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 13.829787234vw;
    padding: 0 var(--grid-outerGutter);
    row-gap: 18.6170212766vw
}

@media only screen and (min-width:834px) {
    .head[data-v-d0a420ef] {
        -moz-column-gap: 0;
        column-gap: 0;
        grid-template-columns: repeat(var(--grid-columnCount), 1fr);
        margin-bottom: 7.0833333333vw;
        padding: 0;
        row-gap: 0
    }
}

.title[data-v-d0a420ef] {
    font-size: clamp(1.2rem, 1.0416666667vw, 1.5rem);
    font-weight: 600;
    grid-column: span 1;
    line-height: 1.15;
    position: relative
}

.title[data-v-d0a420ef]:before {
    background-color: var(--color-burnedOrange);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 1rem;
    margin-right: 5.3191489362vw;
    width: 1rem
}

@media only screen and (min-width:834px) {
    .title[data-v-d0a420ef] {
        grid-column: 1/4;
        margin-left: var(--grid-outerGutter);
        order: 0;
        width: calc(100% - var(--grid-outerGutter))
    }

    .title[data-v-d0a420ef]:before {
        margin-right: 1.3888888889vw
    }
}

.label[data-v-d0a420ef] {
    font-size: clamp(1.2rem, 1.0416666667vw, 1.5rem);
    font-weight: 600;
    grid-column: span 1;
    line-height: 1.15;
    text-align: right
}

@media only screen and (min-width:834px) {
    .label[data-v-d0a420ef] {
        grid-column: 15/17;
        margin-right: var(--grid-outerGutter);
        order: 2;
        width: calc(100% - var(--grid-outerGutter))
    }
}

.copy[data-v-d0a420ef] {
    font-family: var(--font-mono);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .06rem;
    line-height: 1.2;
    position: relative;
    text-transform: uppercase
}

.copy[data-v-d0a420ef]:before {
    bottom: calc(100% + 1.4rem);
    content: "→";
    font-size: 1.3rem;
    position: absolute;
    transform: rotate(90deg)
}

@media only screen and (min-width:834px) {
    .copy[data-v-d0a420ef] {
        grid-column: 7/11;
        order: 1;
        width: calc(100% - 4.86111vw)
    }

    .copy[data-v-d0a420ef]:before {
        bottom: unset;
        right: calc(100% + 2.77778vw);
        top: 0;
        transform: none
    }
}

.items[data-v-d0a420ef] {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 var(--grid-outerGutter);
    row-gap: 11.9680851064vw
}

@media only screen and (min-width:834px) {
    .items[data-v-d0a420ef] {
        -moz-column-gap: 1.3888888889vw;
        column-gap: 1.3888888889vw;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4.1666666667vw
    }

    .card.featured[data-v-d0a420ef],
    .card.large[data-v-d0a420ef] {
        grid-column: span 2
    }
}

[data-v-2e70a31d]:root {
    --color-black: #191919;
    --color-burnedOrange: #ff6b00;
    --color-darkGrey: #646464;
    --color-green: #49d571;
    --color-lightGrey: #e6e6e6;
    --color-midGrey: #a0a0a0;
    --color-offBlack: #282828;
    --color-orange: #ff7714;
    --color-offWhite: #fdfdfd;
    --color-paperGrey: #f2f2f2;
    --color-white: #fff;
    --ease-cubicOut: cubic-bezier(.215, .61, .355, 1);
    --font-base: "TT Interphases Pro";
    --font-mono: "TT Interphases Pro Mono";
    --borderRadius: .4rem;
    --grid-outerGutter: 2.6595744681vw;
    --grid-columnCount: 1
}

@media only screen and (min-width:834px) {
    [data-v-2e70a31d]:root {
        --grid-outerGutter: 2.0833333333vw;
        --grid-columnCount: 16
    }
}

.blocks[data-v-2e70a31d] {
    display: flex;
    flex-direction: column;
    row-gap: 20.2127659574vw
}

@media only screen and (min-width:834px) {
    .blocks[data-v-2e70a31d] {
        row-gap: 15.9722222222vw
    }
}

.footer[data-v-2e70a31d] {
    margin-top: 45.2127659574vw
}

@media only screen and (min-width:834px) {
    .footer[data-v-2e70a31d] {
        margin-top: 17.3611111111vw
    }
}